{% extends 'Base_HTML.html' %}
{% block title %}پنل کاربری{% endblock %}
{% block contents %}
    <div class="col-lg-8">
        <div class="card">
            <div class="card-header">
                <h4>گزارش</h4>
            </div>
            <div class="card-body">
                <canvas id="chartx"></canvas>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <aside class="profile-nav alt">
            <section class="card">
                <div class="card-header user-header alt bg-dark">
                    <div class="media mt-3">
                        <div class="media-body col-sm-12">
                            <h6 class="text-light display-6" style="text-align: center;">
                                {{request.user.first_name}} {{request.user.last_name}}
                            </h6>
                            {% if isBoss%}
                            <li class="active">
                                <p style="padding: 0px;text-align: center">مدیر پروژه</p>
                            </li>
                            {%elif isLabeler%}
                            <li class="active">
                                <p style="padding: 0px;text-align: center">لیبل گذار</p>
                            </li>
                            {%elif isUploader%}
                            <li class="active">
                                <p style="padding: 0px;text-align: center">آپلود گر</p>
                            </li>
                            {%else%}
                            <li class="active">
                                <p style="padding: 0px;text-align: center">no role</p>
                            </li>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <a href="#"> تصاویر آپلود شده <span
                                class="badge badge-primary pull-left">{{ all_images_count }}</span></a>
                    </li>
                    <li class="list-group-item">
                        <a href="#">تصاویر لیبل گذاری شده<span
                                class="badge badge-danger pull-left">{{ labeled_images_count }}</span></a>
                    </li>
                </ul>
            </section>
        </aside>
        </div>
    <div class="col-xs-12">
        <div class="card">
            <div type="button" class="card-header">
                <strong class="card-title" style="text-align: center">تصاویر آپلود شده</strong>
                <p style="text-align: center">(آموزش مدل هوش مصنوعی)</p>
            </div>
            <!-- /.box-header -->
            <div class="table-body table-responsive no-padding">
                <table id="Image_List" class="table table-hover">
                    <tbody>
                    <tr>
                        <th>شماره پرونده</th>
                        <th>عکس</th>
                        <th>وضعیت</th>
                        <th>لیبلینگ</th>
                        <th>عملیات</th>
                        <th>لیبل‌ها</th>
                    </tr>
                    <!-- /.in js -->
                    </tbody>
                </table>
            </div>

            <!-- /.box-body -->
        </div>
        <nav aria-label="Page navigation example">
            <ul id="pagination-nav" class="pagination">
                <!-- /.in js -->
            </ul>
            <form action="?" method="get">
                <input class="page-item page-link" name="page" type="number" placeholder="page" style="width: 100px; float: right; margin-right: 10px; cursor: text"/>
            </form>
        </nav>
        <!-- /.box -->
        <div class="modal fade" id="filterModal" tabindex="-1" role="dialog" aria-labelledby="filterModalTitle" aria-hidden="true">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="filterModalTitle">لیبل‌ها</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <table id="labelsList" dir="ltr" class="table table-bordered">
                    <thead>
                        <tr>
                            <th>نوع</th>
                            <th>نام</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script src="/static/vendors/chart.js/dist/Chart.bundle.min.js"></script>
    <script>
        var current_page = currentURL.searchParams.get("page")
        if(current_page==null) {current_page=1}
        else {current_page=+current_page}

        const apiURL='/_api/image/?page='+current_page
        const response = $.ajax({
                url: apiURL,
                dataType: 'json',
                async: false,
                type: 'GET',
        });

        var page_count = response.responseJSON.page_count
    </script>
    <script src="/static/js/H/listing_menu.js"></script>
    <script src="/static/js/H/Nav_bar.js"></script>
    <script>
        var sumOfAll = {{ all_images_count }}
        var labeled = {{ labeled_images_count }}

        //متد تولید رنگ برای گراف
        function dynamicColor() {
            var r = Math.floor(Math.random() * 255);
            var g = Math.floor(Math.random() * 255);
            var b = Math.floor(Math.random() * 255);
            return ["rgb(" + r + "," + g + "," + b + "," + 0.5 + ")", "rgb(" + r + "," + g + "," + b + ")"];
        }

        //متد گراف
        (function ($) {
            var color1 = dynamicColor()
            var color2 = dynamicColor()
            "use strict";
            var ctx = document.getElementById("chartx");
            Chart.defaults.global.defaultFontFamily = 'iransans';
            ctx.height = 123;
            var myChart = new Chart(ctx,
                {
                    type: 'horizontalBar',

                    // The data for our dataset
                    data: {
                        labels: ['تعداد تصاویر'],
                        datasets: [{
                            label: 'کل',
                            backgroundColor: color1[0],
                            borderColor: color1[1],
                            data: [sumOfAll]
                        },
                            {
                                label: 'لیبل گذاری شده',
                                backgroundColor: color2[0],
                                borderColor: color2[1],
                                data: [labeled]
                            }]
                    },
                    options: {
                        elements: {
                            rectangle: {
                                borderWidth: 1,
                            }
                        }
                        ,
                        legend: {
                            position: 'right',
                            labels: {
                                fontFamily: 'iransans',
                                rtl: true,
                            }
                        }
                        ,
                        scales: {
                            xAxes: [{
                                ticks: {
                                    beginAtZero: true,

                                }, barPercentage: 0.6,
                            }],
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }
                        ,
                        responsive: true,
                        maintainAspectRatio: false,
                    }
                }
            );
        })(jQuery)

    </script>
{% endblock %}
