{% extends 'Base_HTML.html' %}
{% block title %}لیبل گذاری{% endblock %}
{% block contents %}
    <div class="card-footer">
        <button id="edit_initial_data" type="submit" class="btn btn-info ">
            <span >تغییر اطلاعات ورودی</span> </button>
        <a>______</a>
        <button id="deleteButton" type="submit" class="btn btn-danger">
            <span >حذف</span> </button>
    </div>
    <div class="col-xs-12">
            <div class="card">
                <div class="card-header">
                    <strong class="card-title" style="text-align: center">لیبل گذاری</strong>
                </div>
                {% load static %}
                <iframe src="/static/iframe_html/labeling_app.html?image_URL={{object.image_imag.url}}"
                        __idm_frm__="1184" id="render-editor" style="height: 1500px;"></iframe>
            </div>
    </div>
    <div class="col-xs-4">
            <div class="card">
                <div class="card-header">
                    <strong class="card-title" style="text-align: center">region 1</strong>
                    <table class="table">
                      <thead>
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">mild</th>
                          <th scope="col">moderate</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                            <th scope="row">Brondnial</th>
                            <td><input id="Brondinial_mild_1" type="checkbox"></td>
                            <td><input id="Brondinial_moderate_1" type="checkbox"></td>
                        </tr>
                        <tr>
                          <th scope="row">Alveolar</th>
                            <td><input type="checkbox" id="Alveolar_mild_1" ></td>
                            <td><input type="checkbox" id="Alveolar_moderate_1"></td>
                        </tr>
                        <tr>
                          <th scope="row">Intrestitial</th>
                            <td><input type="checkbox" id="Intrestitial_mild_1"></td>
                            <td><input type="checkbox" id="Intrestitial_moderate_1"></td>
                        </tr>
                      </tbody>
                    </table>
                </div>
            </div>
    </div>
        <div class="col-xs-4">
            <div class="card">
                <div class="card-header">
                    <strong class="card-title" style="text-align: center">region 2</strong>
                    <table class="table">
                      <thead>
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">mild</th>
                          <th scope="col">moderate</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                            <th scope="row">Brondnial</th>
                            <td><input id="Brondinial_mild_2" type="checkbox"></td>
                            <td><input id="Brondinial_moderate_2" type="checkbox"></td>
                        </tr>
                        <tr>
                          <th scope="row">Alveolar</th>
                            <td><input type="checkbox" id="Alveolar_mild_2" ></td>
                            <td><input type="checkbox" id="Alveolar_moderate_2"></td>
                        </tr>
                        <tr>
                          <th scope="row">Intrestitial</th>
                            <td><input type="checkbox" id="Intrestitial_mild_2"></td>
                            <td><input type="checkbox" id="Intrestitial_moderate_2"></td>
                        </tr>
                      </tbody>
                    </table>
                </div>
            </div>
    </div>
        <div class="col-xs-4">
            <div class="card">
                <div class="card-header">
                    <strong class="card-title" style="text-align: center">region 3</strong>
                    <table class="table">
                      <thead>
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">mild</th>
                          <th scope="col">moderate</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                            <th scope="row">Brondnial</th>
                            <td><input id="Brondinial_mild_3" type="checkbox"></td>
                            <td><input id="Brondinial_moderate_3" type="checkbox"></td>
                        </tr>
                        <tr>
                          <th scope="row">Alveolar</th>
                            <td><input type="checkbox" id="Alveolar_mild_3" ></td>
                            <td><input type="checkbox" id="Alveolar_moderate_3"></td>
                        </tr>
                        <tr>
                          <th scope="row">Intrestitial</th>
                            <td><input type="checkbox" id="Intrestitial_mild_3"></td>
                            <td><input type="checkbox" id="Intrestitial_moderate_3"></td>
                        </tr>
                      </tbody>
                    </table>
                </div>
            </div>
    </div>
    <div class="col-xs-12">
        <div class="card">
            <div class="card-header"> <strong>نظر متخصص</strong> </div>
            <div class="card-body card-block">
                <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                    <div class="row form-group">
                        <div class="col col-md-3"><label for="textarea-input"
                             class=" form-control-label">نظر</label></div>
                        <div class="col-12 col-md-9"><textarea name="textarea-input" id="Opinion"
                             rows="5" placeholder="متن خود را وارد کنید..." class="form-control"></textarea></div>
                    </div>
                </form>
            </div>

            <div class="col-md-12">
                <div class="row form-group">
                    <div class="col col-md-3">
                        <label for="selectSm" class=" form-control-label">وضعیت بالا رفتن نای</label>
                    </div>
                    <div class="col-12 col-md-9">
                        <select name="trachea_deviation" id="trachea_deviation" class="form-control-sm form-control">
                            <option value="1">trachea</option>
                            <option value="0" selected>No</option>
                            <option value="2">نامشخص</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="row form-group">
                    <div class="col col-md-3">
                        <label for="selectSm" class=" form-control-label">bulge غیر طبیعی در سایه قلب</label>
                    </div>
                    <div class="col-12 col-md-9">
                        <select name="bulge_graph" id="bulge_graph" class="form-control-sm form-control">
                            <option value="1">bulge</option>
                            <option value="0" selected>No</option>
                            <option value="2">نامشخص</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                        <div class="row form-group">
                            <div class="col col-md-3"><label for="selectSm"
                                                             class=" form-control-label">کاردیومگالی بر اساس گراف</label></div>
                            <div class="col-12 col-md-9">
                                <select name="cardiomegaly_graph" id="cardiomegaly_graph" class="form-control-sm form-control">
                                    <option value="1">cardiomegaly</option>
                                    <option value="0" selected>No</option>
                                    <option value="2">نامشخص</option>
                                </select>
                            </div>
                        </div>
            </div>
            <div class="col-md-12">
                <div class="row form-group">
                    <div class="col col-md-3">
                        <label for="selectSm"class=" form-control-label">الگوی ریه alveolar بر اساس گراف</label>
                    </div>
                    <div class="col-12 col-md-9">
                        <select name="alveolar_graph" id="alveolar_graph" class="form-control-sm form-control">
                            <option value="1">alveolar</option>
                            <option value="0" selected>No</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                        <div class="row form-group">
                            <div class="col col-md-3"><label for="selectSm"
                                                             class=" form-control-label">الگوی ریه bronchial بر اساس گراف</label></div>
                            <div class="col-12 col-md-9">
                                <select name="bronchial_graph" id="bronchial_graph" class="form-control-sm form-control">
                                    <option value="1">bronchial</option>
                                    <option value="0" selected>No</option>
                                </select>
                            </div>
                        </div>
                    </div>

            <div class="col-md-12">
                        <div class="row form-group">
                            <div class="col col-md-3"><label for="selectSm"
                                                             class=" form-control-label">الگوی ریه intrestitial بر اساس گراف</label></div>
                            <div class="col-12 col-md-9">
                                <select name="interstitial_graph" id="interstitial_graph" class="form-control-sm form-control">
                                    <option value="1">intrestitial</option>
                                    <option value="0" selected>No</option>
                                </select>
                            </div>
                        </div>
            </div>

            <div class="col-md-12">
                        <div class="row form-group">
                            <div class="col col-md-3"><label for="selectSm"
                                                             class=" form-control-label">عارضه غیر طبیعی در قفسه سینه</label></div>
                            <div class="col-12 col-md-9">
                                <select name="chest_abnormality" id="chest_abnormality" class="form-control-sm form-control">
                                    <option value="1">yes</option>
                                    <option value="0" selected>No</option>
                                </select>
                            </div>
                        </div>
            </div>
            <div class="card-footer">
                <div>
                    <button id="sendButton" type="submit"
                            class="btn btn-lg btn-info btn-block">

                        <span >ارسال</span>

                    </button>
                </div>
            </div>
            <div class="card-footer">
                <div>
                    <button id="nextButton" type="submit"
                            class="btn btn-success btn-lg  btn-block">

                        <span >عکس بعد</span>

                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script>
        $('#myIframe').attr('src', "{% static 'iframe_html/labeling_app.html' %}?param1='{{object.image_imag.url}}'");
    </script>
    <script>
        $( "#edit_initial_data" ).on( "click", function() {
            window.location.replace("/edit_image/"+indx+'/');
        });
    </script>
    <script>

        $('#deleteButton').on("click", function () {
            $(document).ready(function() {
                var apiURL='/_api/image/'+indx+'/'
                var successURL='/panel'
                $.ajax({
                    url: apiURL,
                    dataType: 'json',
                    async: false,
                    type: 'DELETE',
                    success: function(result) {window.location=successURL}
                });
            });
        });

    </script>
    <script>
        $('#nextButton').on("click", function () {
            const apiURL = '/_api/next_to_label/'
            var response = $.ajax({
                url: apiURL,
                dataType: 'json',
                async: false,
                type: 'get'
            });
            window.location=response.responseJSON.next_url
        });

    </script>
    <script>
        $( "#sendButton" ).on( "click", function() {
            let iframe = document.getElementById('render-editor');
            let Htx = iframe.contentWindow.Htx;
            labels=Htx.completionStore.selected.serializeCompletion();
            labels.push($("#Opinion").val());
            var apiURL='/_api/image/'+indx+'/'
            var successURL='/panel'
            $.ajax({
                url: apiURL,
                contentType: 'application/json',
                dataType: 'json',
                data: JSON.stringify({
                    "bronchial_graph": $("#bronchial_graph").val(),
                    "interstitial_graph": $("#interstitial_graph").val(),
                    "alveolar_graph": $("#alveolar_graph").val(),
                    "cardiomegaly_graph": $("#cardiomegaly_graph").val(),
                    "bulge_graph": $("#bulge_graph").val(),
                    "trachea_deviation": $("#trachea_deviation").val(),
                    "chest_abnormality":  $("#chest_abnormality").val(),

                    "Brondinial_mild_1": $("#Brondinial_mild_1").is(":checked") ? 1 : 0,
                    "Brondinial_moderate_1": $("#Brondinial_moderate_1").is(":checked") ? 1 : 0,
                    "Alveolar_mild_1": $("#Alveolar_mild_1").is(":checked") ? 1 : 0,
                    "Alveolar_moderate_1": $("#Alveolar_moderate_1").is(":checked") ? 1 : 0,
                    "Intrestitial_mild_1": $("#Intrestitial_mild_1").is(":checked") ? 1 : 0,
                    "Intrestitial_moderate_1": $("#Intrestitial_moderate_1").is(":checked") ? 1 : 0,

                    "Brondinial_mild_2": $("#Brondinial_mild_2").is(":checked") ? 1 : 0,
                    "Brondinial_moderate_2": $("#Brondinial_moderate_2").is(":checked") ? 1 : 0,
                    "Alveolar_mild_2": $("#Alveolar_mild_2").is(":checked") ? 1 : 0,
                    "Alveolar_moderate_2": $("#Alveolar_moderate_2").is(":checked") ? 1 : 0,
                    "Intrestitial_mild_2": $("#Intrestitial_mild_2").is(":checked") ? 1 : 0,
                    "Intrestitial_moderate_2": $("#Intrestitial_moderate_2").is(":checked") ? 1 : 0,

                    "Brondinial_mild_3": $("#Brondinial_mild_3").is(":checked") ? 1 : 0,
                    "Brondinial_moderate_3": $("#Brondinial_moderate_3").is(":checked") ? 1 : 0,
                    "Alveolar_mild_3": $("#Alveolar_mild_3").is(":checked") ? 1 : 0,
                    "Alveolar_moderate_3": $("#Alveolar_moderate_3").is(":checked") ? 1 : 0,
                    "Intrestitial_mild_3": $("#Intrestitial_mild_3").is(":checked") ? 1 : 0,
                    "Intrestitial_moderate_3": $("#Intrestitial_moderate_3").is(":checked") ? 1 : 0,


                    "label_data_imag": JSON.stringify(labels),
                }),
                type: 'PATCH',
                success: function(result) {window.location=successURL}
            });
        });
    </script>
    <script>
        function defaultVal(b) {
            let a = b
            if (a == null) a = 0
            return a
        }
        function initLabels(label) {

            $('#trachea_deviation').val(defaultVal(label.trachea_deviation))
    	    $('#bulge_graph').val(defaultVal(label.bulge_graph))
    	    $('#cardiomegaly_graph').val(defaultVal(label.cardiomegaly_graph))
    	    $('#alveolar_graph').val(defaultVal(label.alveolar_graph))
    	    $('#bronchial_graph').val(defaultVal(label.bronchial_graph))
    	    $('#interstitial_graph').val(defaultVal(label.interstitial_graph))
            $('#chest_abnormality').val(defaultVal(label.chest_abnormality))

            $("#Brondinial_mild_1").prop("checked", label.Brondinial_mild_1)
            $("#Brondinial_moderate_1").prop("checked", label.Brondinial_moderate_1)
            $("#Alveolar_mild_1").prop("checked", label.Alveolar_mild_1)
            $("#Alveolar_moderate_1").prop("checked", label.Alveolar_moderate_1)
            $("#Intrestitial_mild_1").prop("checked", label.Intrestitial_mild_1)
            $("#Intrestitial_moderate_1").prop("checked", label.Intrestitial_moderate_1)

            $("#Brondinial_mild_2").prop("checked", label.Brondinial_mild_2)
            $("#Brondinial_moderate_2").prop("checked", label.Brondinial_moderate_2)
            $("#Alveolar_mild_2").prop("checked", label.Alveolar_mild_2)
            $("#Alveolar_moderate_2").prop("checked", label.Alveolar_moderate_2)
            $("#Intrestitial_mild_2").prop("checked", label.Intrestitial_mild_2)
            $("#Intrestitial_moderate_2").prop("checked", label.Intrestitial_moderate_2)

            $("#Brondinial_mild_3").prop("checked", label.Brondinial_mild_3)
            $("#Brondinial_moderate_3").prop("checked", label.Brondinial_moderate_3)
            $("#Alveolar_mild_3").prop("checked", label.Alveolar_mild_3)
            $("#Alveolar_moderate_3").prop("checked", label.Alveolar_moderate_3)
            $("#Intrestitial_mild_3").prop("checked", label.Intrestitial_mild_3)
            $("#Intrestitial_moderate_3").prop("checked", label.Intrestitial_moderate_3)

            var label = JSON.parse(label.label_data_imag)
            if(label==null){ return null }
    	    $('#Opinion').val(label.splice(-1,1))

            let iframe = document.getElementById('render-editor');
            var canvas = iframe.contentDocument.getElementsByTagName("canvas").item(0);
            // scale points to correct pos.
            for (i = 0; i < label.length; i++) {
                if (label[i].value.hasOwnProperty('keypointlabels')) {
                    label[i].value.width = label[i].value.width * canvas.offsetWidth / 100
                    label[i].value.x = label[i].value.x * canvas.offsetWidth / 100
                    label[i].value.y = label[i].value.y * canvas.offsetHeight / 100
                }

                if (label[i].value.hasOwnProperty('rectangleLabels')) {
                    label[i].value.width = label[i].value.width * canvas.offsetWidth / 100
                    label[i].value.height = label[i].value.height * canvas.offsetHeight / 100
                    label[i].value.x = label[i].value.x * canvas.offsetWidth / 100
                    label[i].value.y = label[i].value.y * canvas.offsetHeight / 100
                }
                if ( ! label[i].value.hasOwnProperty('polygonlabels') ){continue;}
                for (j = 0; j < label[i].value.points.length; j++) {
                    label[i].value.points[j][0] = label[i].value.points[j][0] * canvas.offsetWidth / 100;
                    label[i].value.points[j][1] = label[i].value.points[j][1] * canvas.offsetHeight / 100;
                }
            }
            // place data onto iframe
            let Htx = iframe.contentWindow.Htx;
            labels=Htx.completionStore.selected.deserializeCompletion(label);
        }

        $('#render-editor').on("load", function () {
            $(document).ready(function() {

                window.onload = function() {
                    if(!window.location.hash) {
                        window.location = window.location + '#loaded/' + indx + '/';
                        window.location.reload();
                    }
                }

                var apiURL='/_api/image/'+indx+'/'
                var response = $.ajax({
                    url: apiURL,
                    dataType: 'json',
                    async: false,
                    type: 'GET',
                });
                // {#setTimeout(initLabels(response.responseJSON), 400)#}
                initLabels(response.responseJSON)
            });
        });

    </script>
{% endblock %}