<!DOCTYPE html>

<html class="no-js" lang="en">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>ورود</title>
    <link rel="shortcut icon" href="favicon.ico"/>
    <link rel="stylesheet" href="/static/vendors/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/vendors/bootstrap/dist/css/bootstrap-rtl.css"/>
    <link rel="stylesheet" href="/static/vendors/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/static/assets/css/style.css"/>
    <style>
        video {
            object-fit: cover;
            width: 100%;
            height: 100%;
            position: fixed;
            top: 0;
            z-index: -10;
            left: 0;
            opacity: 0.9;
            color: #f1f1f1;
        }

    </style>
</head>

<body class="bg-dark">
<video autoplay muted loop id="myVideo">
    <source src="/static/video/12.mp4" type="/static/video/mp4">
</video>
<div style="margin:5% auto" class="sufee-login d-flex align-content-center flex-wrap">

    <div class="container">
        <div class="login-content">
            <div class="login-form">

                <form method="post", id="registration-form">
                    <div class="form-group">
                        <label>نام</label>
                        <input type="first_name" id="reg-first-name" class="form-control" placeholder="نام خود را وارد کنید"/>
                    </div>
                    <div class="form-group">
                        <label>نام خوانوادگی</label>
                        <input type="last_name" id="reg-last-name" class="form-control" placeholder="نام خوانوادگی خود را وارد کنید"/>
                    </div>

                    <div class="form-group">
                        <label>نام کاربری</label>
                        <input type="username" id="reg-username" class="loginUser form-control" placeholder="نام کاربری خود را وارد کنید"/>
                    </div>
                    <div class="form-group">
                        <label>ایمیل</label>
                        <input type="email" id="reg-email" class="loginEmail form-control" placeholder="ایمیل خود را وارد کنید"/>
                    </div>

                    <div class="form-group">
                        <label>رمز عبور</label>
                        <input type="password" id="reg-password" class="loginPass form-control" placeholder="رمز عبور خود را وارد کنید"/>
                    </div>
                    <div class="form-group">
                        <label>تکرار رمز عبور</label>
                        <input type="password2" id="reg-password2" class="loginPass form-control" placeholder="رمز عبور خود تکرار کنید"/>
                    </div>
                </form>
                <input  style=" border-radius: 10px;color: white" value = "ثبت نام"
                        type="submit" class="btn btn-primary btn-flat m-b-30 m-t-30">

            </div>
        </div>
    </div>
</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src="/static/vendors/jquery/dist/jquery.min.js"></script>
<script src="/static/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/static/assets/js/main.js"></script>
<script src="/static/js/H/ajax_setup.js"></script>
<script>
    const apiURL='/_api/UserRegistration/'
    const successURL='/registration/'

    $('#registration-form').on('submit', function(event){
        event.preventDefault();
        console.log("login form submitted!")  // sanity check
        $.ajax({
            url : apiURL, // the endpoint
            type : "POST", // http method
            data : {
                username : $('#reg-username').val(),
                password: $('#reg-password').val(),
                password2: $('#reg-password2').val(),
                email: $('#reg-email').val(),
                first_name: $('#reg-first-name').val(),
                last_name: $('#reg-last-name').val()
            }, // data sent with the post request

            // handle a successful response
            success : function(result) {window.location=successURL},

            fail: function(xhr, textStatus, errorThrown){
                alert('request failed');
            },

            // handle a non-successful response
            error : function(xhr,errmsg,err) {
            }
        });
    });
</script>

</body>

</html>
