<!DOCTYPE html>

<html class="no-js" lang="en">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>ورود</title>
    <link rel="shortcut icon" href="favicon.ico"/>
    <link rel="stylesheet" href="/static/vendors/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/vendors/bootstrap/dist/css/bootstrap-rtl.css"/>
    <link rel="stylesheet" href="/static/vendors/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/static/assets/css/style.css"/>
    <style>
        video {
            object-fit: cover;
            width: 100%;
            height: 100%;
            position: fixed;
            top: 0;
            z-index: -10;
            left: 0;
            opacity: 0.9;
            color: #f1f1f1;
        }

    </style>
</head>

<body class="bg-dark">
<video autoplay muted loop id="myVideo">
    <source src="/static/video/12.mp4" type="video/mp4">
</video>
<div style="margin:5% auto" class="sufee-login d-flex align-content-center flex-wrap">
    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'success'%}
                    <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
            {% elif message.tags == 'info' %}
                    <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
            {% elif message.tags == 'warning' %}
                <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
            {% elif message.tags == 'error' %}
                <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
            {% endif %}
        {% endfor %}
    {% endif %}
    <div class="container">
        <div class="login-content">
            <div class="login-form">

                <form method="post", id="login-form">
                    <div class="form-group">
                        <label>نام کاربری</label>
                        <input type="username" id="login-username" class="loginUser form-control" placeholder="نام کاربری خود را وارد کنید"/>
                    </div>
                    <div class="form-group">
                        <label>رمز عبور</label>
                        <input type="password" id="login-passwd" class="loginPass form-control" placeholder="رمز عبور خود را وارد کنید"/>
                    </div>
                </form>
                <input style=" border-radius: 10px" type="submit"
                       class="loginBtn btn btn-success btn-flat m-b-30 m-t-30" value="ورود">


            </div>
        </div>
    </div>
</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src="/static/vendors/jquery/dist/jquery.min.js"></script>
<script src="/static/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/static/assets/js/main.js"></script>
<script src="/static/js/H/ajax_setup.js"></script>
<script>
    const apiURL='/login/'
    const successURL=new URL(window.location.href).searchParams.get("next");

    $('#login-form').on('submit', function(event){
        event.preventDefault();
        console.log("login form submitted!")  // sanity check
        $.ajax({
            url : apiURL, // the endpoint
            type : "POST", // http method
            data : {
                username : $('#login-username').val(),
                password: $('#login-passwd').val()
            }, // data sent with the post request

            // handle a successful response
            success : function(result) {window.location=successURL},

            // handle a non-successful response
            error : function(xhr,errmsg,err) {
            }
        });
    });
</script>

</body>

</html>
