{% extends 'Base_HTML.html' %}
{% block title %}آپلود عکس{% endblock %}
{% block contents %}
    <div class="col-xs-12">
            <div class="card">
                <div class="card-header">
                    <strong>مشخصات عکس</strong>
                </div>
                <div class="card-body card-block">
                    <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                        <div class="col-md-12">
                            <div class="row form-group">
                                <div class="col col-md-3"><label for="selectSm"
                                                                 class=" form-control-label">شماره پرونده</label></div>
                                <div class="col-12 col-md-9">
                                    <input type="real_id_imag" id="real_id_imag" class="form-control-sm form-control"/>
                                </div></div>
                        </div>

                        <div class="col-md-12">
                            <div class="row form-group">
                                <div class="col col-md-3"><label for="selectSm"
                                                                 class=" form-control-label">نوع حیوان بر اساس گراف</label></div>
                                <div class="col-12 col-md-9">
                                    <select name="animal_type" id="animal_type" class="form-control-sm form-control">
                                        <option value="0">Cat</option>
                                        <option value="1">Dog</option>
                                    </select>
                                </div></div>
                        </div>
                        <div class="col-md-12">
                            <div class="row form-group">
                                <div class="col col-md-3"><label for="selectSm"
                                                                 class=" form-control-label">بالغ و نابالغ بر اساس گراف</label></div>
                                <div class="col-12 col-md-9">
                                    <select name="maturity" id="maturity" class="form-control-sm form-control">
                                        <option value="0">Immature</option>
                                        <option value="1">Mature</option>
                                    </select>
                                </div></div>
                        </div>
                        <div class="col-md-12">
                            <div class="row form-group">
                                <div class="col col-md-3"><label for="selectSm"
                                                                 class=" form-control-label">وضعیت بدنی بر اساس گراف</label></div>
                                <div class="col-12 col-md-9">
                                    <select name="body_type" id="body_type" class="form-control-sm form-control">
                                        <option value="0">Poor</option>
                                        <option value="1">Normal</option>
                                        <option value="2">Obese</option>
                                    </select>
                                </div></div>
                        </div>
                        <div class="col-md-12">
                            <div class="row form-group">
                                <div class="col col-md-3"><label for="selectSm"
                                                                 class=" form-control-label">گراف RL</label></div>
                                <div class="col-12 col-md-9">
                                    <select name="RL_graph" id="RL_graph" class="form-control-sm form-control">
                                        <option value="1">RL</option>
                                        <option value="0">No</option>
                                    </select>
                                </div></div>
                        </div>

                        <div class="col-md-12">
                            <div class="row form-group">
                                <div class="col col-md-3"><label for="selectSm"
                                                                 class=" form-control-label">گراف VD</label></div>
                                <div class="col-12 col-md-9">
                                    <select name="VD_graph" id="VD_graph" class="form-control-sm form-control">
                                        <option value="1">VD</option>
                                        <option value="0">No</option>
                                    </select>
                                </div></div>
                        </div>
                        <div class="col-md-12">
                            <div class="row form-group">
                                <div class="col col-md-3"><label for="selectSm"
                                                                 class=" form-control-label">گراف DV</label></div>
                                <div class="col-12 col-md-9">
                                    <select name="DV_graph" id="DV_graph" class="form-control-sm form-control">
                                        <option value="1">DV</option>
                                        <option value="0">No</option>
                                    </select>
                                </div></div>
                        </div>
                        <div class="col-md-12">
                            <div class="row form-group">
                                <div class="col col-md-3"><label for="selectSm"
                                                                 class=" form-control-label">گراف LL</label></div>
                                <div class="col-12 col-md-9">
                                    <select name="LL_graph" id="LL_graph" class="form-control-sm form-control">
                                        <option value="1">LL</option>
                                        <option value="0">No</option>
                                    </select>
                                </div></div>
                        </div>
                        <div class="col-md-12">
                            <div class="row form-group">
                                <div class="col col-md-3"><label for="selectSm"
                                                                 class=" form-control-label">وضعیت بالا رفتن نای</label></div>
                                <div class="col-12 col-md-9">
                                    <select name="trachea_deviation" id="trachea_deviation" class="form-control-sm form-control">
                                        <option value="1">Trachea</option>
                                        <option value="0">No</option>
                                    </select>
                                </div></div>
                        </div>
                        <div class="col-md-12">
                            <div class="row form-group">
                                <div class="col col-md-3"><label for="selectSm"
                                        class=" form-control-label">نژاد بر اساس HIS</label></div>
                                <div class="col-12 col-md-9">
                                    <select name="HIS_type" id="HIS_type" class="form-control">
                                        <option value="0">spitz</option>
                                        <option value="1">DSH</option>
                                        <option value="2">persian</option>
                                        <option value="3">other</option>
                                        <option value="4">schitsue</option>
                                        <option value="5">terrier</option>
                                        <option value="6">poodle</option>
                                    </select>
                                </div></div>
                        </div>
                        <div class="col-md-12">
                            <div class="row form-group">
                                <div class="col col-md-3"><label for="selectSm"
                                                                 class=" form-control-label">جنسیت بر اساس HIS</label></div>
                                <div class="col-12 col-md-9">
                                    <select name="HIS_gender" id="HIS_gender" class="form-control-sm form-control">
                                        <option value="0">N</option>
                                        <option value="1">F</option>
                                        <option value="2">M</option>
                                    </select>
                                </div></div>
                        </div>
                        <div class="col-md-12">
                            <div class="row form-group">
                                <div class="col col-md-3"><label for="selectSm"
                                                                 class=" form-control-label">صدای غیرطبیعی قلب بر اساس HIS</label></div>
                                <div class="col-12 col-md-9">
                                    <select name="HIS_heart_sound" id="HIS_heart_sound" class="form-control-sm form-control">
                                        <option value="1">Yes</option>
                                        <option value="0">No</option>
                                    </select>
                                </div></div>
                        </div>
                        <div class="col-md-12">
                            <div class="row form-group">
                                <div class="col col-md-3"><label for="selectSm"
                                                                 class=" form-control-label">صدای غیرطبیعی ریه بر اساس HIS</label></div>
                                <div class="col-12 col-md-9">
                                    <select name="HIS_lung_sound" id="HIS_lung_sound" class="form-control-sm form-control">
                                        <option value="1">Yes</option>
                                        <option value="0">No</option>
                                    </select>
                                </div></div>
                        </div>
                        <div class="col-md-12">
                            <div class="row form-group">
                                <div class="col col-md-3"><label for="selectSm"
                                                                 class=" form-control-label">الگوی ریه bronchial بر اساس HIS</label></div>
                                <div class="col-12 col-md-9">
                                    <select name="HIS_bronchial" id="HIS_bronchial" class="form-control-sm form-control">
                                        <option value="1">bronchial</option>
                                        <option value="0">No</option>
                                    </select>
                                </div></div>
                        </div>

                        <div class="col-md-12">
                            <div class="row form-group">
                                <div class="col col-md-3"><label for="selectSm"
                                                                 class=" form-control-label">الگوی ریه intrestitial بر اساس HIS</label></div>
                                <div class="col-12 col-md-9">
                                    <select name="HIS_interstitial" id="HIS_interstitial" class="form-control-sm form-control">
                                        <option value="1">intrestitial</option>
                                        <option value="0">No</option>
                                    </select>
                                </div></div>
                        </div>
                        <div class="col-md-12">
                            <div class="row form-group">
                                <div class="col col-md-3"><label for="selectSm"
                                                                 class=" form-control-label">الگوی ریه alveolar بر اساس HIS</label></div>
                                <div class="col-12 col-md-9">
                                    <select name="HIS_alveolar" id="HIS_alveolar" class="form-control-sm form-control">
                                        <option value="1">alveolar</option>
                                        <option value="0">No</option>
                                    </select>
                                </div></div>
                        </div>
                    </form>
                    <div class="col-md-12">
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="selectSm" class=" form-control-label">ارسال فایل</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <input type="file" id="file-input" name="file-input" class="form-control-file">
                            </div>
                        </div>
                    </div>

                </div>
                <div class="card-footer">
                    <div>
                        <button id="sendButton" type="submit" class="btn btn-lg btn-info btn-block">
                            <span >ارسال</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
{% block scripts %}
    <script>
        const apiURL='/_api/image/'
        const successURL='/panel'

        $( "#sendButton" ).on( "click", function() {
            var formData = new FormData();
            formData.append('real_id_imag', $("#real_id_imag").val());
            formData.append('image_imag', $('#file-input')[0].files[0]);
            formData.append('animal_type', $("#animal_type").val());
            formData.append('maturity', $("#maturity").val());
            formData.append('body_type', $("#body_type").val());
            formData.append('RL_graph', $("#RL_graph").val());
            formData.append('VD_graph', $("#VD_graph").val());
            formData.append('DV_graph', $("#DV_graph").val());
            formData.append('LL_graph', $("#LL_graph").val());
            formData.append('HIS_breed', $("#HIS_type").val());
            formData.append('HIS_gender', $("#HIS_gender").val());
            formData.append('HIS_heart_sound', $("#HIS_heart_sound").val());
            formData.append('HIS_lung_sound', $("#HIS_lung_sound").val());
            formData.append('HIS_bronchial', $("#HIS_bronchial").val());
            formData.append('HIS_interstitial',$("#HIS_interstitial").val());
            formData.append('HIS_alveolar', $("#HIS_alveolar").val());
            $.ajax({
                url: apiURL,
                processData: false,
                contentType: false,
                data:formData,
                type: 'POST',
                success: function(result) {window.location=successURL}
            });

        });
    </script>
{% endblock %}
